* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(15, 15, 63);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img {
  width: 500px;
  height: 400px;
  background: url("./assets/2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.overlay {
  width: 500px;
  height: 400px;

  background-image: linear-gradient(to right, orange, blue);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
}

h2 {
  color: white;
  position: absolute;
  font-size: 150%;
}
